<!doctype html>
<html class="no-js">

<head>

		<!-- Google Analytics -->
<script>
	(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

	ga('create', 'UA-116536493-1', 'auto');
	ga('require', 'GTM-N6WSQCB');
	ga('send', 'pageview');
</script>
	<!-- End Google Analytics -->

    <!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-MK8DV3D');</script>
<!-- End Google Tag Manager -->
	
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>Roi de UX</title>
    <link rel="apple-touch-icon" href="apple-touch-icon.png">
    <link rel="stylesheet" href="styles/vendor.css">
    <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
    <link rel="stylesheet" href="styles/main.css">
    <script src="scripts/vendor/modernizr.js"></script>

    <!-- Hotjar Tracking Code for http://roideux.com -->
<script>
    (function(h,o,t,j,a,r){
        h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
        h._hjSettings={hjid:827171,hjsv:6};
        a=o.getElementsByTagName('head')[0];
        r=o.createElement('script');r.async=1;
        r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
        a.appendChild(r);
    })(window,document,'https://static.hotjar.com/c/hotjar-','.js?sv=');
</script>

</head>

<body>

    <!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-MK8DV3D"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
    <!--[if IE]><p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p><![endif]-->
    <ul id="menu" class="hidden-xs hidden-sm hidden-md hidden-lg">
        <li><a href="index.html#principal" title="O que é ROI?">O que é ROI?</a></li>
        <li><a href="index.html#quem-somos" title="Quem somos?">Quem somos?</a></li>
        <li><a href="index.html#calculadoras" title="Calculadoras">Calculadoras</a></li>
        <li><a href="http://inbeta.com.br" title="Contato" onclick="myFunction()" target="_Blank">Contato</a></li>
    </ul>
    <nav class="navbar navbar-custom" id="top">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="index.html" title="ROI DE UX" ><img src="images/logo.svg" alt="ROI DE UX"></a>
            </div>
            <ul class="nav navbar-nav navbar-right hidden-xs hidden-sm">
                <li><a href="index.html#principal" title="O que é ROI?">O que é ROI?</a></li>
                <li><a href="index.html#quem-somos" title="Quem somos?">Quem somos?</a></li>
                <li><a href="index.html#calculadoras" title="Calculadoras">Calculadoras</a></li>
                <li><a href="http://inbeta.com.br" title="Contato" onclick="myFunction()" target="_Blank">Contato</a></li>
            </ul>
        </div>
    </nav>


    <div class="container-fluid page-calculadora">
        <section id="app" class="principal">
            <div class="row">
                <div class="col-lg-12 card">
                    <div class="row">
                        <div class="col-lg-12"><img src="images/dropoff-icon.svg" alt="" class="icon"></div>
                    </div>
                    <div class="row">
                        <div class="col-lg-4 col-md-5 col-sm-12 col-xs-12 left">
                            <h1>Diminuição da taxa de abandono</h1>
                            <p>Diminuir as taxas de entrega durante o processo de compra em sites de e-commerce podem aumentar o ROI com o aumento de vendas e diminuição de abandonos de carrinhos.</p>
                            <p><strong>Exemplo:<br>Fechei um contrato com uma nova empresa de entregas e logística e consegui reduzir as taxas de entrega, com isso diminui a taxa de abandono de carrinho em 20%.</strong></p>
                        </div>
                        <div class="col-lg-8 col-md-7 col-sm-12 col-xs-12 right">
                            <h1>Como calcular o ROI da diminuição da taxa de abandono?</h1>
                            <p>Para entender qual o retorno do investimento sobre o aumento da produtividade, você precisa das seguintes métricas.</p>
                            <ul class="list-metrics">
                                <li>Taxa de abandono atual</li>
                                <li>Taxa de abandono otimizada</li>
                                <li>Ticket Médio das vendas</li>
                                <li>Lucro médio por venda</li>
                                <li>Vida esperada do projeto</li>
                                <li>Custo do investimento</li>
                                <li>Tráfego mensal atual da página</li>
                            </ul>
                            <p>Juntou essas métricas? Então coloque os dados na calculadora abaixo e veja quanto foi o seu ROI por esse projeto.</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <h1 class="mg-top">Calculadora de ROI da diminuição da taxa de abandono</h1></div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                            <form class="form-horizontal calculadora">
                                <div class="form-group">
                                    <label for="usuarios" class="col-sm-8">Taxa de abandono atual:</label>
                                    <div class="col-sm-4">
                                        <input type="number" onkeypress="return event.charCode >= 48" min="0" class="form-control" id="usuarios" placeholder="60" v-model="PreDesignDropOffRate"> <span>%</span></div>
                                </div>
                                <div class="form-group">
                                    <label for="usuarios" class="col-sm-8">Taxa de abandono otimizada:</label>
                                    <div class="col-sm-4">
                                        <input type="number" onkeypress="return event.charCode >= 48" min="0" class="form-control" id="usuarios" placeholder="40" v-model="PostDesignDropOffRate"> <span>%</span></div>
                                </div>
                                <div class="form-group">
                                    <label for="usuarios" class="col-sm-8">Ticket médio das vendas:</label>
                                    <div class="col-sm-4">
                                        <input type="number" onkeypress="return event.charCode >= 48" min="0" class="form-control" id="usuarios" placeholder="50" v-model="AverageOrderSize"> <span>(R$)</span></div>
                                </div>
                                <div class="form-group">
                                    <label for="usuarios" class="col-sm-8">Lucro médio por venda:</label>
                                    <div class="col-sm-4">
                                        <input type="number" onkeypress="return event.charCode >= 48" min="0" class="form-control" id="usuarios" placeholder="20" v-model="ProfitPercentPerOrder"> <span>%</span></div>
                                </div>
                                <div class="form-group">
                                    <label for="usuarios" class="col-sm-8">Vida esperada do projeto:</label>
                                    <div class="col-sm-4">
                                        <input type="number" onkeypress="return event.charCode >= 48" min="0" class="form-control" id="usuarios" placeholder="3" v-model="ExpectedProjectLife"> <span>Anos</span></div>
                                </div>
                                <div class="form-group">
                                    <label for="usuarios" class="col-sm-8">Custo do investimento:</label>
                                    <div class="col-sm-4">
                                        <input type="number" onkeypress="return event.charCode >= 48" min="0" class="form-control" id="usuarios" placeholder="100000" v-model="InitialCostInvestment"> <span>(R$)</span></div>
                                </div>
                                <div class="form-group">
                                    <label for="usuarios" class="col-sm-8">Tráfego mensal atual da página:</label>
                                    <div class="col-sm-4">
                                        <input type="number" onkeypress="return event.charCode >= 48" min="0" class="form-control" id="usuarios" placeholder="20000" v-model="CurrentPageTraffic"> <span>Usuários</span></div>
                                </div>
                                <!--<button type="submit" class="btn btn-custom">Calcular</button>-->
                            </form>
                        </div>
                        <div class="col-lg-5 col-lg-offset-1 col-md-5 col-md-offset-1 col-sm-12 col-xs-12 resultados">
                            <h2>Ganho futuro com essa melhoria:</h2>
                            <h3>{{ resultFuture | currency }}</h3>
                            <h2>Ganho total com essa melhoria:</h2>
                            <h3>{{ resultBest | currency }}</h3>
                            <h2>A sua taxa de ROI é:</h2>
                            <h3>{{ resultRoi | percentage }} </h3></div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12 disclaimer-calc">
                            <p>O Ganho total é calculado usando um modelo de fluxo de caixa com depreciação padrão de 0.05%</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <footer>
        <p class="text-center">Feito com <i class="fas fa-heart"></i> no Brasil © 2019</p>
    </footer>
    <a href="#top" class="top">
        <div><i class="fas fa-chevron-circle-up fa-4x"></i></div>
    </a>
    <script src="scripts/vendor.js"></script>
    <script src="scripts/plugins.js"></script>
    <script src="scripts/main.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="scripts/vue/abandonment.js"></script>
    
    <script type="text/javascript">
		function myFunction() {
			var myWindow = window.open("https://www.messenger.com/login.php?next=https%3A%2F%2Fwww.messenger.com%2Ft%2F365050600707515%2F%3Fmessaging_source%3Dsource%253Apages%253Amessage_shortlink", "", "width=420,height=1260");
		}
	</script>
</body>

</html>