<!doctype html>
<html class="no-js">

<head>

    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>Roi de UX</title>
    <link rel="apple-touch-icon" href="apple-touch-icon.png">
    <link rel="stylesheet" href="styles/vendor.css">
    <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
    <link rel="stylesheet" href="styles/main.css">
    <script src="scripts/vendor/modernizr.js"></script>
	
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-Q5JD27KEQQ"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-Q5JD27KEQQ');
    </script>
</head>

<body>
    <!--[if IE]><p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p><![endif]-->
    <ul id="menu" class="hidden-xs hidden-sm hidden-md hidden-lg">
            <li><a href="index.html#principal" title="O que é ROI?">O que é ROI?</a></li>
            <li><a href="index.html#quem-somos" title="Quem somos?">Quem sou eu?</a></li>
            <li><a href="index.html#calculadoras" title="Calculadoras">Calculadoras</a></li>
            <li><a href="index.html#contato" title="Contato" onclick="myFunction()" target="_Blank">Contato</a></li>
        </ul>
        <nav class="navbar navbar-custom" id="top">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="index.html" title="ROI DE UX" ><img src="images/logo.svg" alt="ROI DE UX"></a>
                </div>
                <ul class="nav navbar-nav navbar-right hidden-xs hidden-sm">
                    <li><a href="index.html#principal" title="O que é ROI?">O que é ROI?</a></li>
                    <li><a href="index.html#quem-somos" title="Quem somos?">Quem sou eu?</a></li>
                    <li><a href="index.html#calculadoras" title="Calculadoras">Calculadoras</a></li>
                    <li><a href="index.html#contato" title="Contato" onclick="myFunction()" target="_Blank">Contato</a></li>
                </ul>
            </div>
        </nav>


    <div class="container-fluid page-calculadora">
        <section id="app" class="principal">
            <div class="row">
                <div class="col-lg-12 card">
                    <div class="row">
                        <div class="col-lg-12"><img src="images/productivity-icon.svg" class="icon" alt="Produtividade - ROI DE UX"></div>
                    </div>
                    <div class="row">
                        <div class="col-lg-4 col-md-5 col-sm-12 col-xs-12 left">
                            <h1>Otimização da Produtividade da Equipe</h1>
                            <p>Para aplicações com muito uso, reduzir 3 segundos em uma tela pode significar muito nos retornos. Calcule como um aumento na eficiência do usuário afeta o ROI para usabilidade.</p>
                            <p><strong>Exemplo:<br>O Dashboard do seu sistema carrega 10 segundos mais rápido, devido a melhorias na usabilidade. Logo, você economiza 10 segundos todas vez que seus funcionários acessam o Dashboard.</strong></p>
                        </div>
                        <div class="col-lg-8 col-md-7 col-sm-12 col-xs-12 right">
                            <h1>Como calcular o ROI do aumento da produtividade?</h1>
                            <p>Para entender qual o retorno do investimento sobre o aumento da produtividade, você precisa das seguintes métricas.</p>
                            <ul class="list-metrics">
                                <li>Número de Usuários</li>
                                <li>Número de acessos por dia</li>
                                <li>Quantos dias por ano</li>
                                <li>Salário por ano</li>
                                <li>Aumento de Produtividade</li>
                                <li>Custo do Investimento</li>
                                <li>Tempo de Vida do Projeto</li>
                            </ul>
                            <p>Juntou essas métricas? Então coloque os dados na calculadora abaixo e veja quanto foi o seu ROI por esse projeto.</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <h1 class="mg-top">Calculadora de ROI do Aumento de Produtividade</h1></div>
                    </div>
                    <div class="row">
                        <div class="col-lg-5 col-md-6 col-sm-12 col-xs-12">
                            <br />
                            <form class="form-horizontal calculadora" @submit.prevent="onSubmit">
                                <div class="form-group">
                                    <label for="usuarios" class="col-sm-7">Número de usuários:</label>
                                    <div class="col-sm-5">
                                        <input type="number" onkeypress="return event.charCode >= 48" min="0"class="form-control" placeholder="500" v-model="NoOfUsers"> <span>Usuários</span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="usuarios" class="col-sm-7">Número de acessos por dia:</label>
                                    <div class="col-sm-5">
                                        <input type="number" onkeypress="return event.charCode >= 48" min="0"class="form-control" placeholder="50" v-model="UsesPerDay"> <span>Acessos</span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="usuarios" class="col-sm-7">Quantos dias por ano:</label>
                                    <div class="col-sm-5">
                                        <input type="number" onkeypress="return event.charCode >= 48" min="0"class="form-control" placeholder="230" v-model="DaysPerYear"> <span>Dias</span></div>
                                </div>
                                <div class="form-group">
                                        <label for="usuarios" class="col-sm-7">Horário de trabalho por dia:</label>
                                        <div class="col-sm-5">
                                            <input type="number" onkeypress="return event.charCode >= 48" min="0"class="form-control" placeholder="8" v-model="WorkDayHours"> <span>horas/dia</span></div>
                                    </div>
                                <div class="form-group">
                                    <label for="usuarios" class="col-sm-7">Salário por ano:</label>
                                    <div class="col-sm-5">
                                        <input type="number" onkeypress="return event.charCode >= 48" min="0"class="form-control" placeholder="30000" v-model="LoadedSalary"> <span>(R$)</span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="usuarios" class="col-sm-7">Aumento da produtividade:</label>
                                    <div class="col-sm-5">
                                        <input type="number" onkeypress="return event.charCode >= 48" min="0"class="form-control" placeholder="3" v-model="IncreaseInEfficiency">
                                        <select class="form-control" v-model="EfficiencyTimeUnit">
                                            <option>Seg</option>
                                            <option>Min</option>
                                            <option>Hs</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="usuarios" class="col-sm-7">Custo do investimento:</label>
                                    <div class="col-sm-5">
                                        <input type="number" onkeypress="return event.charCode >= 48" min="0"class="form-control" placeholder="10000" v-model="InitialCostInvestment"> <span>(R$)</span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="usuarios" class="col-sm-7">Tempo de vida do projeto:</label>
                                    <div class="col-sm-5">
                                        <input type="number" onkeypress="return event.charCode >= 48" min="0"class="form-control" placeholder="3" v-model="ExpectedProjectLife"> <span>Anos</span>
                                    </div>
                                </div>
                                <!--<button type="submit" class="btn btn-custom">Calcular</button>-->
                            </form>
                        </div>
                        <div class="col-lg-6 col-lg-offset-1 col-md-5 col-md-offset-1 col-sm-12 col-xs-12 resultados">
                            <h2>Ganho futuro com essa melhoria:</h2>
                            <h3>{{ resultFuture | currency }}</h3>
                            <h2>Ganho total com essa melhoria:</h2>
                            <h3>{{ resultBest | currency }}</h3>
                            <h2>A sua taxa de ROI é:</h2>
                            <h3>{{ resultRoi | percentage }} </h3></div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12 disclaimer-calc">
                            <p>O Ganho total é calculado usando um modelo de fluxo de caixa com depreciação padrão de 0.05%</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <footer>
        <p class="text-center">Feito com <i class="fas fa-heart"></i> no Brasil © 2020</p>
    </footer>
    <a href="#top" class="top">
        <div><i class="fas fa-chevron-circle-up fa-4x"></i></div>
    </a>
    <script src="scripts/vendor.js"></script>
    <script src="scripts/plugins.js"></script>
    <script src="scripts/main.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="scripts/vue/productivity.js"></script>

    <script type="text/javascript">
		function myFunction() {
			var myWindow = window.open("https://www.linkedin.com/in/guigonzalez/", "", "width=845,height=1260");
		}
	</script>
</body>

</html>
